header {
    font-family: "ヒラギノ丸ゴ ProN", "Hiragino Maru Gothic ProN";
    font-size: 50px;
    height: 60px;
    widows: 100%;
    text-align: left;
    color: white;
    background-color: #ffcdd2;
}


.box {
    background-color: thistle;
}


.id img {
    margin-top: 20px;
    margin-left: 340px;
    border-radius: 20px;
    width: 800px;
    height: 500px;
}


.btn-square-soft {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 400px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    color: #f9a9ae;
    width: 120px;
    height: 50px;
    line-height: 50px;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    font-weight: bold;
    background: linear-gradient(#fed6e3 0%, #ffaaaa 100%);
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.66);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.28);
}

.btn-square-soft:active {
    /*押したとき*/
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    /*沈むように*/
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15);
    background-image: linear-gradient(#fed6e3 0%, #ffbcbc 100%);
    /*グラデーションを明るく*/
}








footer {
    color: silver;
    text-align: right;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #ffcdd2;
}