<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=1">
    <title>母の言葉sunakake</title>
    <link rel="stylesheet" type="text/css" media="screen and ( min-width:769px )" href="../static/css/style_pc.css">
    <link rel="stylesheet" type="text/css" media="screen and ( max-width:768px )" href="../static/css/style_sp.css">
    <link rel="icon" href="../static/favicon (5).ico">
    
    
</head>
<body>
    <body style="background-color: #f5f3f5f1;"></body>


    <header>母の言葉</header>
    {% block content %}


    <div class="id"><img src="../static/img/オープニング「母の言葉」.png"></div>
    
    {% endblock %}
    <div class="botn" style="display:inline-flex">
        

        <form action="/daijyobu" method="POST"><input type="submit" href="#" class="btn-square-soft" value="1"></form> 
        
    
        <form action="/warai" method="POST"><input type="submit" href="#" class="btn-square-soft" value="2"></form> 
        
    
        <form action="/gennki" method="POST"><input type="submit" href="#" class="btn-square-soft" value="3"></form>
          
      
        <form action="/itudemo" method="POST"><input type="submit" href="#" class="btn-square-soft" value="4"></form> 
        
    
        <form action="/jisin" method="POST"><input type="submit" href="#" class="btn-square-soft" value="5"></form>
        
     
        <form action="/miti" method="POST"><input type="submit" href="#" class="btn-square-soft" value="6"></form>
         
    
        <form action="/musiba" method="POST"><input type="submit" href="#" class="btn-square-soft" value="7"></form>
         
    
        <form action="/neru" method="POST"> <input type="submit" href="#" class="btn-square-soft" value="8"></form>
        
    
        <form action="/sasuga" method="POST"><input type="submit" href="#" class="btn-square-soft" value="9"></form>
        
        
    
        <form action="/takara" method="POST"><input type="submit" href="#" class="btn-square-soft" value="10"></form>
        
      
        <form action="/base" method="POST"><input type="submit" href="#" class="btn-square-soft" value="表紙へ"></form>
        

    </div>  
    

    <footer>
        <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a>
        <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        Copyright hahano-kotoba by SUNAKAKE.
    </footer>
    
</body>
</html>