<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>母の言葉sunakake</title>

    <link rel="stylesheet" href="../static/css/style.css">
    
    
</head>
<body>
    <body style="background-color: #f5f3f5f1;"></body>


    <header>母の言葉</header>
    {% block content %}


    <div class="id"><img src="../static/img/オープニング「母の言葉」.png"></div>
    
    {% endblock %}
    <div class="btn">
        

    <form action="/daijyobu" method="GET">
        <input type="submit" href="#" class="btn-square-soft" value="1">
    </form> 
    <form action="/warai" method="GET"> 
        <input type="submit" href="#" class="btn-square-soft" value="2">
    </form>
    <form action="/gennki" method="GET">
        <input type="submit" href="#" class="btn-square-soft" value="3">
    </form>    
    <form action="/itudemo" method="GET"> 
        <input type="submit" href="#" class="btn-square-soft" value="4">
    </form>
    <form action="/jisin" method="GET">
        <input type="submit" href="#" class="btn-square-soft" value="5">
    </form> 
        <form action="/miti" method="GET">
        <input type="submit" href="#" class="btn-square-soft" value="6">
    </form> 
        <form action="/musiba" method="GET">
        <input type="submit" href="#" class="btn-square-soft" value="7">
    </form> 
        <form action="/neru" method="GET">
        <input type="submit" href="#" class="btn-square-soft" value="8">
    </form> 
        <form action="/sasuga" method="GET">
        <input type="submit" href="#" class="btn-square-soft" value="9">
    </form> 
        <form action="/takara" method="GET">
        <input type="submit" href="#" class="btn-square-soft" value="10">
    </form>  
        <form action="/base" method="GET">
        <input type="submit" href="#" class="btn-square-soft" value="表紙へ">
    </form> 
        

        
 
    </div>  
    

    <footer>Copyright Text</footer>
    
    </body>
</html>