<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>母の言葉sunakake</title>

    <link rel="stylesheet" href="../css/style.css">
    
    
</head>
<body>




    <!-- <body style="background-color: #f5f3f5f1;"></body> -->


    <!-- <header>母の言葉</header> -->



    <!-- <div class="id"><img src="../img/thumb_01.png"></div>


    <div>
        <a href="#" class="btn-square-soft">前へ</a>
        <a href="#" class="btn-square-soft">次へ</a>

    </div>  

    <footer>Copyright Text</footer> -->




    <!-- 全体を包むコンテナ始 -->
<div class="container">

    <!-- ヘッダー始 -->
    <div class="header">
      <p class="header_logo">さしより</p>
      <p class="swich_link"><a href="about">当サイトについて</a></p>
    </div>
    <!-- ヘッダー終 -->
  
    <!-- サイトタイトル始 -->
    <div class="title">
      <div class="logo">さしより</div>
    </div>
    <!-- サイトタイトル終 -->
  
    <!-- コンテンツ始 -->
    <div class="contents">
      <!-- 本文 -->
      <div class="section_1">
        <p class="item">
          <span id="word">下のボタンを押してね♪</span>        
      </p> 
      </div>
  
      <!-- 出典と紹介者 -->
      <div class="section_2">
        <div class="note_head">出&nbsp;&nbsp;&nbsp;典：</div><div class="note"><span id="source_text">出典が表示されます</span></div>
        <div class="note_head">紹介者：</div><div class="note"><span id="introducer_text"><a hred="#">紹介者様が表示されます</a></span></div>
      </div>
  
    
  <!--ボタン-->
  <div class="section_3">
    <!--もう一声ボタン-->
    <!--絶対必要なのはbutton部分にonclickをつけてあげるのと、JSで書き換える場所に固有のidをつけてあげることです。-->
    <input class="next btn-circle-border" type="button" value="もう一声" onclick="post_word()">
  
    <!--ツイートボタン-->
    
    <a href="#" class="tweet btn-circle-border" id="twitter_button">ツイート</a>  
    </div>
    
  </div>
  
  <!-- コンテンツ終 -->
  
  
    <div class="bottom">
  
    </div> 
  
  </div>
      <!-- コピーライトコンテナ -->
      <div class="footer">
        <!-- コピーライト -->
        <p class="copyright">Copyright:Sashi-Yori<br>by SUNABACO8246</p>
      </div>
    
  <!-- 全体を包むるコンテナ終 -->
    
    
    </body>
</html>